body {
  background-color: #0d0d0d;
  color: #f0f0f0;
  font-family: "SFMono-Regular", Menlo, Consolas, monospace;
  margin: 0;
  padding: 0;
}

.profile-layout {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  gap: 50px;
  max-width: 900px;
  margin: 40px auto;
  padding: 0;
}

.profile-pic img {
  width: 300px;
  height: 300px;
  border-radius: 30%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
  margin-top: 2px;
}

@media (max-width: 700px) {
  .profile-layout {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic {
    margin-top: 5px;
  }
}

.profile-left h2 {
  text-align: center;
  color: #69AEC8;
}

.sns-wrapper p {
  font-weight: bold;
}

/* SNSリンク用の箱 */
.sns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* SNSアイコンのサイズと動きの設定 */
.sns-wrapper img {
    width: 35px; 
    height: 35px;
    transition: opacity 0.3s; 
}

.sns-links {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.sns-links a {
  font-size: 15px;
  padding-left: 20px;
  color: #ffffff;
}

.sns-wrapper img:hover {
    opacity: 0.7; 
    background-color: #68686800;

}

.profile-info {
  flex: 1;
  margin: 0;
  padding: 0;
}

.profile-info pre {
  background-color: #292A2F;
  color: #dcdcdc;
  font-family: "SFMono-Regular", Menlo, monospace;
  padding: 16px 10px 16px 50px;
  border-radius: 5px;
  line-height: 1.6;
  font-size: 14px;
  margin: 0;
  white-space: pre;
  word-break: break-word;
  overflow-x: hidden;
}

@media (max-width: 700px) {
  .profile-info pre {
    white-space: pre-wrap;
    word-break: break-word;
    padding-left: 2.5em;
    /* display: block; */
  }

  .profile-info pre::first-line {
    text-indent: -1.5em;
  }
}

 /* 構文 (struct, let, var) */
.keyword {
  color: #EF81B0;
  font-weight: bold;
}

/* 型 (Int, String, View) */
.type {
  color: #CCB4F0;
}

/* ユーザーが作った型名・構造体名 (Youmi, Log) */
.user-type {
  color: #8ADCFB;
  font-weight: bold;
}

/* 定数の名前 (name, birth, etc...) */
.property {
  color: #69AEC8;
}

/* 標準型・標準関数 (print, Image, Text) */
.builtin {
  color: #CCB4F0;
}

 /* 文字列  */
.string {
  color: #F08875;
}

 /* 数値 */
.number {
  color: #D5CA86;
}

/* コメントアウト */
.comment {
  color: #A5B0BD;
  font-style: italic;
}

h1 {
    text-align: center;
    color: #66d9ef;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 35px;
}
  
/* ギャラリー全体の設定 */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 0 16px;
  }

  /* ギャラリーの写真の設定 */
  .image-container {
    width: calc(25% - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #1e1e1e;
    border-radius: 3px;
  }

  .image-container img {
    max-height: 100%;         
    max-width: 100%;       
    object-fit: contain; 
}
  
/* スマホ用の設定 */
@media (max-width: 700px) {
  .image-container {
    width: calc(33.33% - 4px);
  }
}

/* モーダル */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-image {
    max-width: 90%;
}

.modal-info {
    margin-top: 10px;
    color: #fff;
}

.modal-info h2 {
    margin: 8px 0 15px;
    font-size: 24px;
}

#modal-place {
    margin: 15px 0 5px;
    font-size: 18px;
}

#modal-camera{
    margin: 5px 0 20px;
    font-size: 14px;
}

#modal-desc {
    margin: 20px 0 10px;
    font-size: 9px;
}

/* 上部ナビゲーション全体 */
.top-nav {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 24px;
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Youmi Nagase (上部ナビゲーションの横) */

/* そろそろロゴ作れよ💢 */

.site-title {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  gap: 24px;
}

/* .site-title a {
  font-size: 28px;
  font-weight: bold;
  color: #6bdfff;
  text-decoration: none;
  display: block;
  line-height: 1;
  margin: 0;
} */

.site-logo img {
  height: 40px;         /* ← サイズは必要に応じて調整 */
  width: auto;
  display: block;
}

/* Gallery選択用のドロップダウンボタン */
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #f0f0f0;
  font-size: 20px;
  line-height: 1;
  gap: 4px;
}

.dropdown-icon {
  font-size: 12px;
  margin-left: 4px;
  line-height: 1;
  transform: translateY(1px);
}

/* ドロップダウンメニュー */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1000;
  min-width: 120px;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu.open {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  transition: all 0.2s ease;
}

.dropdown-menu a.active {
  color: #969696;
  font-weight: bold;
}

.dropdown-menu a:hover,
.dropdown-menu a:active {
  background-color: #282828;
  color: #6bdfff;
}

/* 新しいページを作るときの表示 */
  /* .coming-soon h2 {
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 24px;
    color: #555;
    margin-bottom: 300px;
    margin-top: 200px;
  }

  .coming-soon p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #555;
  } */
